


<% if @recipes %>

  <h2>Recipes for - <%= @search_term %></h2>

  <div class="row">
        
    <% @recipes.each do |recipe| %>
      

      <div class="col-sm-4 col-xs-6">
        <%= link_to recipe_path(:id => recipe.id, :search => @search_term) do %>
          <div class="recipe-tile">
            <%= image_tag(recipe["image_url"])  %>
            <span><%= sanitize(recipe["title"]) %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% else %>
  <div>
    <%= image_tag( image_path('fika-l.jpg'), :id =>"fika" ) %>
  </div>
<% end %>
