
<p id="back_link"><a href="<%= recipes_path(:search => params[:search])%>" >
	<strong><span class="glyphicon glyphicon-menu-left"></span>Back</strong></a></p>

<h3 class="text-center"><%= @recipe.title %></h3>	

<div class = 'show-image'>
	<%= image_tag @recipe.image_url %>
</div>
<div id="ingredients" >
	<h4><strong>Ingredients</strong></h4>
	<% ingredients = @recipe.ingredients.split(";") %>
	<ul>
		<% ingredients.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>
	
</div>

<a href="<%= @recipe.source_url %>" target='_blank'><strong>View recipe</strong></a>
