<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @search.term %>
</p>

<p>
  <strong>View:</strong>
  <%= @search.view %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
