<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |key, value| %>
	  <p id='<%= key %>'><%= value %></p>
	<% end %>

	<p>Powered	By	Food2Fork.com</p>
		
	<%= form_tag recipes_path, :method => 'get' do %>
	  <p>
	    <%= text_field_tag :search, params[:search], placeholder: 'Enter name or ingredient...' %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>

	<%= render "layouts/sample_recipes.html.erb" %>

	<%= yield %>

</body>
</html>
