<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Welcome to Gourmandiz - the help you need to find great recipes.">
  <title>Gourmandiz</title>

  <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Qwigley" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- HEADER -->
	<%= render "layouts/header", :layout => true %>
	
	<!-- MAIN CONTENT -->
	<div class="container">
		<div id="main-content" class="row">
			
			<!-- Search result div -->
			<div id="search-result" class="col-md-8 col-sm-12">

				<!-- Search Bar -->
				<%= form_tag recipes_path, :method => 'get' do %>
				  <div class="input-group">
				    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Enter name or ingredient...' %>
				    <span class="input-group-btn">
				    	<%= button_tag "Search", :name => nil, class: "btn btn-default" do %>
								<%= content_tag(:span, "", class: "glyphicon glyphicon-search" ) %>
								<%= content_tag(:strong, 'Search') %>
				    	<% end %>	
				    </span>
				    
				  </div>
				<% end %>
				
				<!-- Flash Notification -->
				<% if flash[:error] %>
					<div class="alert alert-danger" role="alert">
						<%= flash[:error] %>
					</div>	
				<% end %>
								
				<%= yield %>	
			
			</div>
			<!-- END OF Search result div -->

			<hr class="visible-xs visible-sm">

			<!-- Side Panel -->
			<aside class="col-md-4 col-sm-12">
				<%= render "layouts/sample_recipes", :layout => true %>
			</aside>
		</div>

		<p id="powered">Powered	By	Food2Fork.com</p>
	</div>


	<%= javascript_include_tag 'jquery-2.1.4.min', 'bootstrap.min' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
